aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram==1.4.12
hachoir
lyricsgenius
pytgcalls==3.0.0.dev21
wget
python-dotenv
youtube-search-python
youtube-search
speedtest-cli
motor
psutil
requests
rich
dnspython
yt-dlp==2022.2.4
pyyaml==5.3.1
tgcrypto
gitpython
heroku3

